@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playfair+Display+SC&family=Playfair+Display:wght@500&display=swap');

$titulos: 'Playfair Display', serif;
$subtitulos: 'Playfair Display SC', serif;
$parrafos:'Montserrat', sans-serif;




